html {
    --color-black: #000;
    --color-white: #fff;
    --color-white-50: rgba(255, 255, 255, .5);
    --color-white-50: rgba(255, 255, 255, .3);
    --color-white-50: rgba(255, 255, 255, .2);
    --color-white-50: rgba(255, 255, 255, .1);
}

/* 로딩 애니메이션 */
.dot-pulse {
    --uib-size: 60px;
    --uib-speed: 1.3s;
    --uib-color: black;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.27);
}

.dot-pulse.hide {
    display: none;
}

.dot-pulse__dot,
.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: block;
    height: calc(var(--uib-size) * 0.18);
    width: calc(var(--uib-size) * 0.18);
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
}

.dot-pulse::before {
    animation: pulse var(--uib-speed) ease-in-out infinite;
}

.dot-pulse__dot {
    animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.125) infinite both;
}

.dot-pulse::after {
    animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.25) infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }
}


.movies {
    font-size: 20px;
}

.movie-list {
    padding: 20px;
    background-color: var(--color-white-50);
}

.movie-list .movies {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movies .movie {
    --width: 200px;
    width: var(--width);
    height: calc(var(--width) * 3 / 2);
    background-color: #000;
    background-size: cover;
}

.view-more {
    display: block;
}

.view-more.hide {
    display: none;
}